@charset "UTF-8";

/* 
Typical device brakpoints:
Mobile – 360 x 640; 375 x 667; 360 x 720
Tablet – 768 x 1024
iPhone – 375 x 812
Laptop – 1366 x 768
Desktop or high-resolution laptop – 1920 x 1080 
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        background-image: linear-gradient(to top, #731247, #0E1126);
    }

    section#principal {
        width: 580px;
        height: 420px;
    }

    section#login {
        width: 580px;
        height: 360px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 360px;
    }

    p#legenda {
        width: 240px;
    }

    form > div > a.esqueceu-senha {
        color: #0E1126;
        position: absolute;
        bottom: 0px;
        right: 29px;
        font-size: 13px;
    }

    p#register {
        margin-left: 90px;
        margin-top: 20px;
    }

    div#formulario p {
    font-size: 1.1em;
    }   
}

@media screen and (min-width: 1024px) {

     body {
        background-image: linear-gradient(to top, #731247, #0E1126);
    }

    section#principal {
        width: 800px;
        height: 490px;
    }

    section#login {
        width: 800px;
        height: 430px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 430px;
    }

    div#formulario h1 {
        font-size: 2em;
    }

    div#formulario p {
    font-size: 1.3em;
    }

    p#legenda {
        width: 270px;
    }

    form > div > a.esqueceu-senha {
        color: #0E1126;
        position: absolute;
        bottom: 0px;
        right: 29px;
        font-size: 13px;
    }

    p#register {
        margin-left: 70px;
        margin-top: 30px;
    }
}

